
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<br>
				<p><span style="font-size: 31px; font-weight: bold;">MargERP 9+</span><br><br>
					Start Billing @ ₹999/-*

					GST Billing to Filing

				850+ Sales & Support Centers / 1 Million+ Satisfied users</p>
				<br>
				<a href="https://www.facebook.com/MargSofware" target="blank"><i class="fab fa-facebook fa-2x"></i></a>
				<a href="#"><i class="fab fa-twitter fa-2x"></i></a>
				<a href="https://www.instagram.com/marg_accountingsoftware" target="blank">
					<i class="fab fa-instagram fa-2x"></i>
				</a>
				<a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
				<a href="mailto:softwaresolution708@gmail.com"><i class="fas fa-envelope fa-2x"></i></a>
			</div>
			<div class="col-md-3 softwaresLink">
				<br>
				<ul>
					<li><h3>Softwares</h3></li>
					<a ui-sref="retail"><li>Retail Softwares</li></a>
					<a ui-sref="pharma"><li>Pharma Softwares</li></a>
					<a ui-sref="fmcg"><li>FMCG Softwares</li></a>
					<a ui-sref="jewellery"><li>Jewellery Softwares</li></a>
				</ul>
			</div>
			<div class="col-md-3">
				<br>
				<ul>
					<li><h3>Products</h3></li>
					<li>ERP</li>
					<li>Mobile Apps</li>
					<li>Website Applications</li>
					<li>Other Solutions</li>
				</ul>
			</div>
			<div class="col-md-3">
				<br>
				<ul>
					<li><h3>Contact Us</h3></li>
					<li>Software Solutions, Shop No-19, Thirdfloor, Millenium Plaza, Jaistambh Chowk, 
					Raipur(492001) / Chhattisgarh</li>
					<li>Mob: 9826153619 | Tel: 0771-4089641/642</li>
					<li>softwaresolution708@gmail.com</li>
				</ul>
			</div>
		</div>
		<hr style="border-color: #264653;">
		<p>© 2004 Software Solutions. All rights reserved.</p>
		<div class="col-lg-12 footer-Bottom" style="margin-bottom: 60px;">
			<a ui-sref="about"><small>About Us</small>  |  </a>
			<a href="#"><small>Sitemap</small>  |  </a>
			<a ui-sref="contact"><small>Contact</small>  |  </a>
			<a ui-sref="privacypolicy"><small>Privacy Policy</small>  |  </a>
			<a href="#"><small>Terms of Use</small></a>
		</div>
	</div>
</div>

<div class="footHeader" id="bottomContent">
	<div class="container">
		<nav class="navbar fixed-bottom navbar-light" style="background-color: #2c3e50;">
			<a class="nav-link" ui-sref="contact" ng-click="openForm()">Contact Us</a>
			<a class="nav-link" href="https://tutorial.margcompusoft.com/" target="blank">Video Tutorial</a>
			<a class="nav-link" ui-sref="reqDemo">Book Now</a>
			<!-- <a class="nav-link" href="#">Ask Me</a> -->
		</nav>
	</div>
</div>