
.signup {
	background-image: url("../../images/maxresdefault.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.signupForm {
  padding-bottom: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.4);
  border: 3px solid seagreen;
}

.signupForm button {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
}

.signupForm p {
	color: yellow;
}

.formsHead {
  background-color: #348F50;
  text-align: center;
  color: #fff;
  padding: 6px 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}